@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center text-white">
                <h2 classs="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn rounded btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead> 
            <tr>
                <th>title</th>
                <th>isbn</th>
                <th>listPrice</th>
                <th>author</th>
                <th>category.name</th>
                <th></th>  
            </tr>
            </thead>
            @* <tbody> 
                 @foreach(var obj in Model.OrderBy(u=>u.Title)){
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.Price</td>
                    <td>@obj.Author</td>
                    <td>@obj.Category.Name</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-area="Admin" asp-controler="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2 rounded-3">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                                <a asp-area="Admin" asp-controler="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2 rounded-3">
                                <i class="bi bi-trash3-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
                } 
             </tbody> *@
        </table>
    </div>  

</div>
@section Scripts{
    <script src="~/js/product.js"></script>
}